#map {
    width: 60vw;
    height: 60vh;
}

#infoWindowContent {
    width: 300px;
}

h2 {
    background-color: aqua;
    color: blue;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}